  <header>
      hbs
        <nav class="nav">
            <ul>
                <li><a href="http://localhost:3000/home">Agregar Productos</a> </li>
                <li><a href="http://localhost:3000/api/productos">Todos los productos</a> </li>
                <li><a href="http://localhost:3000/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
