
{{#if mensajes}}
{{#each mensajes}}

    <div class="mensajes">
        <p class="mensajes__email">{{this.email}} <span>[{{this.created_at}} - {{this.hora}}]</span></p>
        <p class="mensajes__mensaje">dice:{{this.mensaje}}</p>
    </div>
{{/each }}
{{/if}}